html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    overflow-x: scroll;
    margin: 0;
    display: grid;
    grid-template-rows: 10vh 1fr;
}

nav {
    background-color: grey;
}

.nav-container {
    /* background-color: red; */
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.right-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-height: 90vh;
    overflow-x: scroll;
}

.right-img-contr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.right-img {
    max-width: 60%;
}
